# versions
NODE_VERSION=18.20.0
NG_CLI_VERSION=17.3.3
PHP_VERSION=8.3.4
PHP_REDIS_VERSION=6.0.2
XDEBUG_VERSION=3.3.1
COMPOSER_HASH=993f9fec74930f32f7015e71543243bf6d9b9e93
COMPOSER_VERSION=2.7.2
PHP_CS_FIXER_VERSION=3.53.0
PHP_STAN_VERSION=1.10.66
PSALM_VERSION=5.23.1